
$color1:#33c9f4;
$color2:#37c7bd;
$color3:#fccd0d;
$color4:#ff8e10;
$color5:#ef4b1a;
$color6:#897f7e;

.color1 {
  background-color: $color1;
}
.color2 {
  background-color: $color2;
}
.color3 {
  background-color: $color3;
}
.color4 {
  background-color: $color4;
}
.color5 {
  background-color: $color5;
}
.color6 {
  background-color: $color6;
}

.textColor1 {
  color: $color1 !important;
}
.textColor2 {
  color: $color2 !important;
}
.textColor3 {
  color: $color3 !important;
}
.textColor4 {
  color: $color4 !important;
}
.textColor5 {
  color: $color5 !important;
}
.textColor6 {
  color: $color6 !important;
}
