
$tableBorder:1px dotted #000000;

.footnote { margin-bottom : 10px; }

td, th, tr, thead, tbody, table {
  padding: 0;
  border-spacing: 0;
  border-collapse: collapse;
}
table {
  margin-bottom:10px;
  }
thead tr th {
  border-bottom: $tableBorder;
  font-weight: bold;
}
th, td {
  padding: 6px;
  border-right: $tableBorder;
  &:last-child {
    border-right: 0;
  }
}
